*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    
    margin-top: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.counter {
    background: #000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 500px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 10px;
  }
  
  button {
    width: 30px;
    height: 30px;
    font-size: 24px;
    border: none;
    border-radius: 50%;
    background-color: #4CAF50;
    color: #fff;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #3e8e41;
  }
  
  .count {
    color: #fff;
    font-size: 24px;
    margin: 0 10px;
  }